html, body {
  overflow: hidden;
  margin: 0;
}

#barra { 
  display: block;
  width: 100%;
  background: #dfdfdf; 
  padding: 6px; 
  border-bottom: 2px solid #aaa;
}

#barra input { 
  padding: 5px 10px; 
  font-weight: bold; 
  font-size: 14px;
}

#editor { 
  font-size: 14px;
  position: absolute;
  top: 45;
  left: 0;
  right: 0;
  bottom: 0;
}

#errors { 
  width: 100%;
  display: block;
  position: absolute;
  bottom: 0;
  padding-bottom: 2px;
  background: #fcc;
  height: 0px;
  font-size: 12px;
  overflow: scroll;
}

#errors pre {
  cursor: default;
  display: block;
  padding: 3px 0 1px;
  margin: 0;
  margin-top: 2px;
}